html, body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    
    
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 70px;
}

.header-menus {
    display: flex;
    gap: 55px;
}

.main {
    display: flex;
    height: calc(100vh - 60px);

}

h1 > .mi {
    color: #cc2610;


}
h1 > .health {
    color: #a5de54;
}

.left {
    background-color: lightgrey;
    width: 30%;
    max-width: 300px;
    flex-direction: column;
    display: flex;
    
}

.right {
   background-color: lightgrey;
    width: calc(100% - 300px);
    display: flex;
    flex-direction: row;
}

.left, .right {
    background-image: url('../mihealthbackground.png');
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0;
}

 .be {
    display: flex;
    
    
}

   .pasta, .cereal, .shrimp {
        
        width: 25vw;
        height: 73vh;
        object-fit: cover;
        border-radius: 8px;
        margin: 50px 10px;
        box-shadow: 0 4px 16px rgba(0,0,0,0.10);
        vertical-align: top;
        background-position: center;

    }
